@use "../abstract/variables";
@use "../base/responive" as responsive;

.about {
  height: fit-content;
  padding: 0 5rem;

  @include responsive.respond(smallPhone) {
    padding: 0 1rem;
  }

  &-scroll-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 5rem;
    position: relative;
    padding: 0 variables.$margin 5rem variables.$margin;

    @include responsive.respond(bigDesktop) {
      gap: 2rem;
      padding: 0 0 5rem 0;
    }
    @media screen and (min-width: 1151px) and (max-width: 1400px) {
      padding: 0 0 5rem 0;
      gap: 1.5rem;
    }

    &-left {
      &-content {
        position: sticky;
        top: 5rem;
        left: 0;
        background-image: url("/UpdatedUIsky-17.svg");
        background-position: bottom;
        background-repeat: no-repeat;

        @media screen and (min-width: 1151px) and (max-width: 1400px) {
          top: 5rem;
        }

        &-title {
          height: fit-content;
          padding: 10% 0;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Inter, serif;
          font-weight: 300;
          line-height: 1;
          font-size: 6.5rem;
          color: rgb(2, 64, 96);

          @include responsive.respond(bigDesktop) {
            font-size: 5rem;
          }
          @include responsive.respond(desktop) {
            font-size: 5rem;
            padding: 8% 0;
          }

          @include responsive.respond(bigTablets) {
            font-size: 5rem;
          }

          @include responsive.respond(tablets) {
            font-size: 4rem;
          }

          // @include responsive.respond(smallPhone) {
          //   font-size: 3rem;
          //   padding: 5% 0;
          // }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      padding: 8rem 0 0rem 0;
      &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 30rem;
        width: 100%;
        overflow: hidden;

        & .img-container {
          flex: 1;
          width: 100%;
          background-color: rgb(194, 194, 194);
          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0%;
          }
        }

        & .buttons {
          display: flex;
          height: fit-content;
          justify-content: space-between;

          align-items: center;
          gap: 2rem;
        }
      }
    }
  }

  &-para-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;

    @include responsive.respond(bigTablets) {
      font-size: 1.3rem;
    }
    @include responsive.respond(desktop) {
      gap: 1.5rem;
    }
    @include responsive.respond(bigDesktop) {
      font-size: 1.5rem;
      gap: 1.5rem;
    }
    &-right {
      flex: 1.2;
      text-align: left;
      font-size: 1.2rem;

      @include responsive.respond(bigTablets) {
        font-size: 1.1rem;
        flex: 1;
      }
      @include responsive.respond(desktop) {
        font-size: 1.1rem;
      }
    }
  }
}

.animate-mount {
  opacity: 0;
  animation: mountAnimation 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes mountAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-mob {
  position: relative;
  padding: 0 2rem;
  @include responsive.respond(bigTablets) {
    text-align: left;
  }
  @include responsive.respond(smallPhone) {
    margin-bottom: 0;
  }
}
.about-scroll-mob {
  background-color: white;
  &-container {
    display: flex;
    flex-direction: column;
    position: relative;
    // padding: 6px;
    @include responsive.respond(smallPhone) {
    }

    & .home-text {
      width: 100%;
      height: fit-content;
      padding: 0;
      margin: 2rem 0;
      z-index: -1;
      background-color: white;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 4rem !important;
      }
      @media screen and (min-width: 1251px) and (max-width: 1400px) {
        font-size: 5rem !important;
      }
      @include responsive.respond(smallPhone) {
        font-size: 2.4rem;
        width: 75%;
        // margin-top: 3.3rem;
        font-weight: 400;
      }
      @include responsive.respond(phone) {
        font-size: 3rem;
        width: 75%;
        font-weight: 400;
      }
      @include responsive.respond(bigTablets) {
        display: flex;
        align-items: start;
        justify-content: start;
      }
    }
    &-item {
      position: sticky;
      top: 4rem;
      left: 0;
      z-index: 1;
      background-color: white;

      @include responsive.respond(smallPhone) {
        top: 2rem;
      }
      @include responsive.respond(bigTablets) {
        padding: 4px;
      }
    }
  }

  &-right-content {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    & .img-container {
      width: 100%;
      height: 35rem;
      padding: 0 1rem;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      @include responsive.respond(smallPhone) {
        height: 14rem;
      }
      @include responsive.respond(phone) {
        height: 18rem;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 20%;
        border-radius: 1rem;
        @include responsive.respond(smallPhone) {
          object-fit: cover;
          border-radius: 16px;
        }
        @include responsive.respond(phone) {
          object-fit: cover;
        }
        @include responsive.respond(tablets) {
          object-fit: cover;
        }
      }
    }
  }
}
.about-scroll-mob-container-left {
  position: relative;
  z-index: 2;
  background-color: white;
}
.about-scrolll-mob-left {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  z-index: 2;
  padding-top: 1rem;

  &-title {
    height: fit-content;
    padding: 2rem 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, serif;
    font-weight: 300;
    line-height: 1;
    font-size: 4.3rem;
    color: rgb(2, 64, 96);

    @include responsive.respond(bigTablets) {
      font-size: 3.5rem;
    }
    @include responsive.respond(tablets) {
      font-size: 3.5rem;
    }
    @include responsive.respond(phone) {
      font-size: 3.5rem;
    }
    @include responsive.respond(smallPhone) {
      font-size: 2.5rem;
    }
  }
}
.about-mob-para {
  line-height: 1.5;
  background-color: white;
  height: fit-content;

  @include responsive.respond(smallPhone) {
    font-size: 13px;
  }
  @include responsive.respond(phone) {
    font-size: 15px;
  }
  @include responsive.respond(bigTablets) {
    font-size: 2rem;
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    font-size: 1.1rem;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .main-swiperabout-scroll-mob-container {
    padding: 15px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
  .about-scroll-mob-container {
  }
}
