@use "../abstract/variables";
@use "../base/responive" as responsive;

.bottom {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  z-index: 90000000;
  @include responsive.respond(smallPhone) {
    // height: 0;
    margin-top: -25rem;
  }
  @include responsive.respond(tablets) {
    // height: 100%;
    margin-top: -32rem;
  }
  @include responsive.respond(bigTablets) {
    margin-top: -51rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    transform: scaleY(-1);
    background-image: url("/UpdatedUIsky-16.svg");
    z-index: -1;
  }

  &-hello {
    font-size: 40rem;
    font-weight: 700;
    color: white;
    line-height: 1;
    opacity: 0.5;

    @include responsive.respond(smallPhone) {
      font-size: 10rem;
    }
    @include responsive.respond(tablets) {
      font-size: 20rem;
    }
    @include responsive.respond(bigTablets) {
      font-size: 30rem;
    }
  }

  &-content {
    font-size: 8rem;
    font-weight: 600;
    color: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    padding: 2.2rem 9rem;
    border-radius: 7rem;
    border: 1px solid gray;
    cursor: pointer;

    @include responsive.respond(smallPhone) {
      font-size: 1.5rem;
      padding: 1rem 3rem;
      border-radius: 2rem;
      margin-top: 0rem;
      top: 85%;
    }

    @include responsive.respond(tablets) {
      font-size: 2rem;
      font-weight: 500;
      border-radius: 5rem;
      padding: 1.5rem 4rem;
      position: absolute;
      left: 50%;
      top: 83%;
    }

    @include responsive.respond(bigTablets) {
      font-size: 5rem;
      font-weight: 500;
      border-radius: 5rem;
      padding: 2rem 6rem;
      position: absolute;
      left: 50%;
      top: 80%;
    }
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .bottom {
    margin-top: -41rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
  .bottom {
    margin-top: -45rem;
  }
}
