@use "../abstract/variables";
@use "../base/responive" as responsive;

.bottom {
  width: 100%;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
  z-index: 999;
  @include responsive.respond(smallPhone) {
    height: 15rem;
  }
  @include responsive.respond(phone) {
    height: 15rem;
  }
  @include responsive.respond(tablets) {
    height: 20rem;
  }
  @include responsive.respond(bigTablets) {
    height: 20rem;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    height: 30rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    background-image: url("https://res.cloudinary.com/ds07e7rod/image/upload/v1738835352/UpdatedUIsky-16_yjszlk.svg");
    z-index: -1;

    @include responsive.respond(smallPhone) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-repeat: no-repeat;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
      z-index: -1;
    }
    @include responsive.respond(phone) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-repeat: no-repeat;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
      z-index: -1;
    }
    @include responsive.respond(tablets) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-repeat: no-repeat;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
      z-index: -1;
    }
    @include responsive.respond(bigTablets) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-repeat: no-repeat;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
      z-index: -1;
    }
  }

  &-hello {
    font-size: 40rem;
    font-weight: 700;
    color: white;
    line-height: 1;
    opacity: 0.5;
    @media screen and (min-width: 1199px) and (max-width: 1418px) {
      font-size: 28rem;
    }

    @include responsive.respond(smallPhone) {
      font-size: 10rem;
      line-height: 1.2;
    }
    @include responsive.respond(phone) {
      font-size: 15rem;
      line-height: 1.2;
    }
    @include responsive.respond(tablets) {
      font-size: 20rem;
    }
    @include responsive.respond(bigTablets) {
      font-size: 25rem;
    }
  }

  &-content {
    font-size: 8rem;
    font-weight: 600;
    color: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    padding: 2.2rem 9rem;
    border-radius: 7rem;
    border: 1px solid gray;
    cursor: pointer;
    white-space: nowrap;

    @include responsive.respond(smallPhone) {
      font-size: 1.5rem;
      padding: 1rem 3rem;
      border-radius: 2rem;
      margin-top: 0rem;
    }
    @include responsive.respond(phone) {
      font-size: 1.5rem;
      padding: 1rem 3rem;
      border-radius: 2rem;
      margin-top: 0rem;
    }

    @include responsive.respond(tablets) {
      font-size: 1.5rem;
      padding: 1rem 3rem;
      border-radius: 2rem;
      margin-top: 0rem;
    }

    @include responsive.respond(bigTablets) {
      font-size: 5rem;
      padding: 1rem 3rem;
      border-radius: 5rem;
      margin-top: 0rem;
    }
  }
}
