@use "../base/responive" as responsive;
@use "../abstract/variables" as variables;

.main-swiper {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include responsive.respond(smallPhone) {
    height: fit-content;
  }

  @include responsive.respond(tablets) {
    height: 45rem;
    padding: 0;
  }

  @include responsive.respond(bigTablets) {
    // height: 55rem;
    height: fit-content;
  }

  .main-swiper-container {
    width: 100%;
    height: 100%;
    @include responsive.respond(tablets) {
      height: fit-content;
    }
    @include responsive.respond(bigTablets) {
    }
    @include responsive.respond(smallPhone) {
      height: fit-content;
    }

    & .swiper-body-item {
      height: 35rem;
      border-radius: 2rem;
      overflow: hidden;
      padding: 0 10px;

      @media (max-width: 1199px) {
        padding: 0 20px;
      }

      @include responsive.respond(smallPhone) {
        height: fit-content;
      }

      @include responsive.respond(bigTablets) {
        // height: 70rem;
      }

      & span {
        border-radius: 2rem;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        & iframe {
          width: 80% !important;
          height: 100%;
          border-radius: 2rem;

          @include responsive.respond(tablets) {
            width: 27rem !important;
          }
          @include responsive.respond(smallPhone) {
            width: 18rem !important;
          }
          @include responsive.respond(bigTablets) {
            width: 38rem !important;
          }
        }

        @include responsive.respond(smallPhone) {
          width: 100%;
          height: 31rem;
          margin: 0 auto;
        }
        @include responsive.respond(tablets) {
          width: 100%;
        }
      }
    }
  }
  .main-text {
    font-size: 3rem !important;
    font-weight: 500 !important;
    width: 50% !important;
    color: variables.$color-blue !important;
    text-align: center !important;
    display: none !important;

    @include responsive.respond(smallPhone) {
      margin-top: 20rem;
      display: block;
      height: 100vh;
    }
  }
  // @include responsive.respond(smallPhone) {
  //   padding-top: 0rem;
  // }
}

// @media only screen and (min-width: 400px) and (max-width: 450px) {
//   .about-scroll-mob-container {
//     margin-top: -10rem;
//   }
// }

.main-swiper-h2 {
  font-size: 3rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  @include responsive.respond(smallPhone) {
    font-size: 1.7rem;
    padding: 0rem;
    margin-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  @include responsive.respond(tablets) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 3rem 0 3rem;
    margin-left: 0rem;
    margin-bottom: -2rem;
  }
  @include responsive.respond(bigTablets) {
    padding: 5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
