@use "../base/responive" as responsive;
.main-swiper {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive.respond(smallPhone) {
    padding-top: 8rem;
  }

  .main-swiper-container {
    width: 100%;
    height: 70%;

    @include responsive.respond(smallPhone) {
      width: 100%;
    }

    & .testmonial-body-item {
      width: 100%;
      height: 100%;

      & span {
        height: 42rem;
        border-radius: 2rem;
      }
    }
  }
}
