@use "../base/responive" as responsive;
@use "../abstract/variables" as variables;

.main-swiper {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include responsive.respond(smallPhone) {
    margin-top: -9rem;
  }

  @include responsive.respond(smallPhone) {
    margin-top: -5rem;
  }
  @include responsive.respond(bigTablets) {
    margin-top: -50rem;
  }

  .main-swiper-container {
    width: 100%;
    height: 70%;

    @include responsive.respond(tablets) {
      height: 70vh;
      margin-top: -2rem;
    }
    @include responsive.respond(bigTablets) {
      width: 173%;
    }
    @include responsive.respond(smallPhone) {
      // width: 80vw;
      // height: 80vh;
      // margin-top: -5rem;
      // margin: 0 190vw;
    }

    & .testmonial-body-item {
      width: 100%;
      height: 80%;

      & span {
        height: 40rem;
        width: 23rem;
        border-radius: 2rem;

        @include responsive.respond(smallPhone) {
          width: 80%;
          // margin: 0 20rem;
          height: 30rem;
          margin: 0 auto;
        }
        @include responsive.respond(tablets) {
          width: 80%;
          height: 55rem;
        }
      }
    }
  }
  .main-text {
    font-size: 3rem !important;
    font-weight: 500 !important;
    width: 50% !important;
    color: variables.$color-blue !important;
    text-align: center !important;
    display: none !important;

    @include responsive.respond(smallPhone) {
      margin-top: 20rem;
      display: block;
      background-color: aquamarine;
      height: 100vh;
    }
  }
  // @include responsive.respond(smallPhone) {
  //   padding-top: 0rem;
  // }
}
@media (min-width: 800px) and (max-width: 900px) {
  .main-swiper {
    margin-top: -14rem;
  }
}
