@use "../abstract/variables" as variables;
.testmonial {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 5rem;

  &-head {
    height: 10rem;

    width: 60%;
    margin: 0 auto;

    & h2 {
      font-size: 3rem;
      font-weight: 500;
      margin: 0 auto;
      width: 50%;
      color: variables.$color-blue;
      text-align: center;
    }
  }

  &-body {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    &-item {
      border-radius: 1rem;
      & span {
        border: 1px solid variables.$color-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        overflow: hidden;

        img {
          width: 100%;

          object-fit: contain;
        }
      }
    }
  }
}
