/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use "../base/responive" as responsive;

.enquary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/ds07e7rod/image/upload/v1738835352/UpdatedUIsky-16_yjszlk.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-left {
  margin-left: 100px;
}

.enquary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #fff;
}

.enquary-logo {
  margin-right: 20rem;
  color: #0056b3;
}

.enquary-logo img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.enquary-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80vw;
  height: 100vh;
}
.enquiry-container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.enquary-image-text {
  font-size: 5rem;
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 1;
  font-size: 600%;
  color: #024060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;

  @include responsive.respond(desktop) {
    font-size: 4rem;
  }
}

.enquary-form {
  min-width: 500px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // height: 100%;
  min-height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.enquary-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;

  &:has(input[name="country"], input[name="education"]) {
    input {
      width: 50%;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
      flex: 1 1 0;
    }
  }
}

.enquary-form-row input,
.enquary-form-row select {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", serif;
  // min-width: 00px;
}

.enquary-form-row .enquary-submit-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter", serif;
}

.enquary-form-row .enquary-submit-btn:hover {
  background-color: #0056b3;
}

.enquary-bottomDiv {
  width: 350px;
  position: relative;
}

.enquary-respoImg {
  max-width: 350px;
  max-height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  left: -20px;
}

.enquary-mobile-text {
  font-size: 3rem;
  position: relative;
  font-family: "Inter", serif;
  font-weight: 400;
  color: #024060;
  bottom: 250px;
  left: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.floating-button-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 100000000;
}

.whatsapp-button,
.call-button {
  background: green;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  outline: none;
}

/* Specific styles for Call Button */
.call-button {
  background: blue;
}
