@use "./../base/responive" as responsive;
.enquary-mob {
  height: fit-content;
  width: 100%;
  background-image: url("https://res.cloudinary.com/ds07e7rod/image/upload/v1738835352/UpdatedUIsky-16_yjszlk.svg");
  background-size: 500% auto;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 7rem 0;

  &-form {
    width: 92vw;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
    padding: 2rem;

    @include responsive.respond(tablets) {
      width: 80vw;
    }
    border-radius: 1rem;

    & .enquary-form-row {
      margin-bottom: 1rem;
    }
  }
  &-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;

    & h2 {
      font-weight: 500;
      font-size: 2rem;
      color: #244ea0;
      margin-top: 3rem;
      margin: 0;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
    padding: 2rem;

    @include responsive.respond(smallPhone) {
      gap: 0rem;
    }
  }
}
