@use "./../base/responive" as responsive;
.enquary-mob {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-image: url("https://res.cloudinary.com/ds07e7rod/image/upload/v1738835352/UpdatedUIsky-16_yjszlk.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center -1%;
  padding: 6rem 0;
  @include responsive.respond(phone) {
    padding: 6rem 0 5rem 0;
  }
  @include responsive.respond(smallPhone) {
    padding: 5rem 0 5rem 0;
  }
  @include responsive.respond(bigTablets) {
    padding: 7rem 0 5rem 0;
  }
  @include responsive.respond(tablets) {
    padding: 8rem 0 5rem 0;
  }

  &-form {
    margin: 0 auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @include responsive.respond(tablets) {
      margin: 0 8rem;
    }
    @include responsive.respond(bigTablets) {
      margin: 0 12rem;
    }
    @include responsive.respond(phone) {
      margin: 0 1rem;
    }
    @include responsive.respond(smallPhone) {
      margin: 0 1.2rem;
    }

    & .enquary-form-row {
      margin-bottom: 1rem;
    }
  }
  &-arrow {
    @include responsive.respond(bigTablets) {
      font-size: 3.5rem;
    }
  }
  &-image-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;

    & h2 {
      font-weight: 500;
      font-size: 2rem;
      margin-top: 3rem;
      margin: 0;
      color: #024060;
    }
    & h3 {
      font-weight: 500;
      font-size: 4.5rem;
      margin-top: 3rem;
      margin: 0;
      color: #024060;
      @include responsive.respond(smallPhone) {
        font-size: 2.7rem;
      }
    }
  }

  &-icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: center;
    padding: 2rem;

    @include responsive.respond(smallPhone) {
      gap: 0rem;
    }

    @include responsive.respond(bigTablets) {
      justify-content: space-around;
      padding: 0;
    }
    @include responsive.respond(tablets) {
      justify-content: space-around;
      padding: 0;
    }
  }
}
