@use "../abstract/variables";
@use "../base/responive" as responsive;

.scroll-card-box {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: sticky;
  top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  @include responsive.respond(smallPhone) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5rem 0;
  }
}

.scroll-card-box-container {
  height: 80vh;
  width: 100%;
  background-color: variables.$color-green;
  border-radius: 8rem;
  padding: 6rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;

  @include responsive.respond(smallPhone) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2rem;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 1rem;
    height: 32.5rem;
  }
  @include responsive.respond(phone) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2rem;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 1rem;
    height: 32.5rem;
  }
  @include responsive.respond(tablets) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2rem;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  @include responsive.respond(bigTablets) {
    border-radius: 4rem;
  }
}

.scroll-card-box-left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  @include responsive.respond(smallPhone) {
    padding: 1rem;
    width: 100%;
  }
  @include responsive.respond(phone) {
    padding: 1rem;
    width: 100%;
  }
  @include responsive.respond(tablets) {
    width: 100%;
    padding: 1rem;
  }
  @include responsive.respond(bigTablets) {
    width: 50%;
    padding: 1rem;
  }

  & .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10rem;
    gap: 1rem;
    font-size: 1.2rem;

    @include responsive.respond(smallPhone) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      margin-bottom: 1rem;
      width: 100%;
    }
    @include responsive.respond(phone) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      margin-bottom: 1rem;
      width: 100%;
    }

    @include responsive.respond(tablets) {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
    }
    @include responsive.respond(bigTablets) {
      font-size: 2rem;
    }

    & .num {
      background-color: black;
      border-radius: 50%;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      height: 3rem;
      width: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      @include responsive.respond(smallPhone) {
        font-size: 15px;
        height: 2rem;
        width: 2rem;
      }
      @include responsive.respond(phone) {
        font-size: 15px;
        height: 2rem;
        width: 2rem;
      }
      @include responsive.respond(bigTablets) {
        font-size: 20px;
        height: 4rem;
        width: 4rem;
      }
    }
  }

  & .title {
    width: 70%;

    @include responsive.respond(smallPhone) {
      width: 100%;
    }
    @include responsive.respond(phone) {
      width: 100%;
    }

    @include responsive.respond(tablets) {
      width: 75%;
    }
    @include responsive.respond(bigTablets) {
      width: 107%;
    }
  }

  & .title div {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    @include responsive.respond(smallPhone) {
      font-size: 1.5rem;
      margin-left: 0rem;
      width: 100%;
    }

    @include responsive.respond(phone) {
      font-size: 1.5rem;
      margin-left: 0rem;
      width: 100%;
    }

    @include responsive.respond(tablets) {
      margin-left: 0rem;
    }
    @include responsive.respond(bigTablets) {
      margin-top: 1rem;
      width: 100%;
    }
  }

  & p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 2rem;

    @include responsive.respond(smallPhone) {
      margin-left: 0rem;
      font-size: 0.8rem;
    }
    @include responsive.respond(phone) {
      margin-left: 0rem;
      font-size: 0.8rem;
    }
    @include responsive.respond(tablets) {
      margin-left: 0rem;
    }
    @include responsive.respond(bigTablets) {
      width: 100%;
    }
  }
}

.scroll-card-box-right {
  height: 100%;
  width: 50%;
  background-color: rgb(249, 249, 249);
  border-radius: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;

  @include responsive.respond(smallPhone) {
    display: none;
  }
  @include responsive.respond(phone) {
    display: none;
  }

  & img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    @include responsive.respond(smallPhone) {
      display: none;
    }
  }
}
.scroll-card-box-center {
  height: 50rem;
  width: 65%;
  background-color: rgb(249, 249, 249);
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 1rem;
  @include responsive.respond(smallPhone) {
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
  }
  @include responsive.respond(phone) {
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
  }

  @include responsive.respond(tablets) {
    width: 100%;
    height: 28rem;
  }
  @include responsive.respond(bigTablets) {
    height: 50rem;
    width: 215%;
  }

  & img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;

    @include responsive.respond(smallPhone) {
      border-radius: 1rem;
      width: 100%;

      -o-object-fit: cover;

         object-fit: cover;
    }
    @include responsive.respond(phone) {
      border-radius: 1rem;
    }

    @include responsive.respond(tablets) {
      border-radius: 1rem;

    }
    @include responsive.respond(bigTablets) {
      border-radius: 1rem;
    }
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .scroll-card-box-center {
    margin-top: 1rem;
  }
  .title {
    margin-bottom: 4rem;
  }
}