@use "../abstract/variables";
@use "../base/responive" as responsive;

.scroll-card-box {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: sticky;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // @include responsive.respond(smallPhone) {
  //   height: 20rem;
  //   width: 0rem;
  // }
}

.scroll-card-box-container {
  height: 80vh;
  width: 100%;
  background-color: variables.$color-green;
  border-radius: 8rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include responsive.respond(smallPhone) {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    height: 40rem;
  }
  @include responsive.respond(tablets) {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
  }
  @include responsive.respond(bigTablets) {
    border-radius: 4rem;
  }
}

.scroll-card-box-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

  @include responsive.respond(smallPhone) {
    padding: 1rem;
    width: 150%;
  }
  @include responsive.respond(tablets) {
    width: 110%;
    margin-left: -1rem;
  }

  & .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    gap: 1rem;
    font-size: 1.2rem;

    @include responsive.respond(smallPhone) {
      display: flex;
      align-items: start;
      justify-content: start;
      padding-bottom: 1rem;
    }

    @include responsive.respond(tablets) {
      padding-left: 3rem;
    }
    @include responsive.respond(bigTablets) {
      font-size: 2rem;
    }

    & .num {
      background-color: black;
      border-radius: 50%;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include responsive.respond(smallPhone) {
        font-size: 15px;
        height: 2rem;
        width: 2rem;
      }
      @include responsive.respond(bigTablets) {
        font-size: 20px;
        height: 4rem;
        width: 4rem;
      }
    }
  }

  & .title {
    width: 70%;

    @include responsive.respond(tablets) {
      width: 86%;
    }
    @include responsive.respond(bigTablets) {
      width: 107%;
    }
  }

  & .title div {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

    @include responsive.respond(smallPhone) {
      font-size: 1.5rem;
      margin-left: 0rem;
      width: 80%;
    }

    @include responsive.respond(tablets) {
      padding-left: 2rem;
    }
    @include responsive.respond(bigTablets) {
      margin-top: -1rem;
      width: 149%;
    }
  }

  & p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 2rem;

    @include responsive.respond(smallPhone) {
      margin-left: 0rem;
      font-size: 1rem;
    }
    @include responsive.respond(tablets) {
      padding-left: 2rem;
    }
    @include responsive.respond(bigTablets) {
      width: 100%;
    }
  }
}

.scroll-card-box-right {
  height: 100%;
  width: 50%;
  background-color: rgb(249, 249, 249);
  border-radius: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.scroll-card-box-center {
  height: 50rem;
  width: 65%;
  background-color: rgb(249, 249, 249);
  border-radius: 1rem;

  @include responsive.respond(tablets) {
    margin-left: 4rem;
    margin-top: 1rem;
    height: 27rem;
  }
  @include responsive.respond(bigTablets) {
    height: 35rem;
    width: 215%;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include responsive.respond(smallPhone) {
      border-radius: 1rem;
    }

    @include responsive.respond(tablets) {
      border-radius: 1rem;
      width: 29rem;
      height: 27rem;
    }
    @include responsive.respond(bigTablets) {
      border-radius: 1rem;
    }
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .scroll-card-box-center {
    margin-top: 1rem;
  }
  .title {
    margin-bottom: 4rem;
  }
}
