* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 6rem;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: white;
  margin-right: -10px;
}
@media only screen and (max-width: 575.98px) {
  header {
    height: 4.8rem;
  }
}

.section-container {
  margin: 0 3rem;
}

section {
  margin-bottom: 15rem;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  section {
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 575.98px) {
  section {
    margin-bottom: 0rem;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #024060;
}

::-webkit-scrollbar-thumb {
  background: #65d175;
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sec-btn,
.black-btn {
  background-color: #000;
  color: #fff;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
@media only screen and (max-width: 575.98px) {
  .sec-btn,
  .black-btn {
    padding: 0.4rem 1rem;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

.sec-btn {
  background-color: #cbcbcb;
  color: #000;
}

nav {
  display: flex;
  justify-content: transparent;
  align-items: center;
  width: 60rem;
  background-color: white;
  border-radius: 3rem;
  padding: 0rem 2rem;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 575.98px) {
  nav {
    width: 30rem;
    height: 3rem;
    gap: 5rem;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 4.5rem;
  width: auto;
  min-width: 15rem;
  font-weight: 600;
}
@media only screen and (max-width: 575.98px) {
  ul {
    font-weight: 400;
    padding-bottom: 6px;
  }
}

.logo img {
  height: 2rem;
}
@media only screen and (max-width: 575.98px) {
  .logo img {
    height: 1rem;
  }
}

li a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 575.98px) {
  li a {
    font-size: 10px;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 575.98px) {
  .nav-list {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 45vh;
    background-color: white;
    flex-direction: column;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .nav-list.active {
    display: flex;
    margin-top: -4.5rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .nav-item {
    padding: 15px 20px;
    width: 100%;
    text-align: center;
  }
  .nav-item a {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
  }
}

.nav-list li {
  list-style: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: black;
  z-index: 100;
}
@media only screen and (max-width: 575.98px) {
  .hamburger {
    display: block;
  }
}
.hamburger .thin-icon {
  stroke-width: 1;
  color: #333;
}

.navigation {
  display: none;
  z-index: 100000;
}
@media only screen and (max-width: 575.98px) {
  .navigation {
    display: block;
  }
}

.navigation__checkbox {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  cursor: pointer;
  z-index: 30000;
}

.navigation__btn {
  position: relative;
  top: 0rem;
  right: 0rem;
  background-color: #f7f7f7;
  border-radius: 50%;
  text-align: center;
  z-index: 1000000000000000000000000000000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navigation__background {
  background-image: radial-gradient(#322486, #030637, black);
  height: 6rem;
  width: 6rem;
  border-radius: 0;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 5000;
  transition: transform 0.5s;
}

.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500000000;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all 0.2s;
  visibility: hidden;
  border-radius: 0;
}

.navigation__list {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-weight: 900;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navigation__item {
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 900px) {
  .navigation__item {
    margin: 0;
  }
}
.navigation__link {
  display: inline-block;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

@media (max-width: 900px) {
  .navigation__link {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
@media (max-width: 900px) {
  .navigation__link {
    font-size: 1rem;
    font-weight: 500;
  }
}
.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  width: 100%;
  opacity: 1;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60);
  border-radius: 0;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
  transform: rotate(45deg);
  top: 0rem;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before {
  transform: rotate(-45deg);
  top: 0rem;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon {
  background-color: transparent;
}

.navigation__icon {
  position: relative;
}

.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  display: inline-block;
  background-color: rgb(59, 59, 59);
  width: 1.5rem;
  height: 2px;
  transition: all 0.3s;
}

.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::after {
  top: 0.4rem;
}

.navigation__icon::before {
  top: -0.4rem;
}

.navigation__btn:hover .navigation__icon::after {
  transform: translateY(0.1rem);
}

.navigation__btn:hover .navigation__icon::before {
  transform: translateY(-0.1rem);
}

.nav-item:last-child {
  margin-left: auto;
}

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #024060;
  transform-origin: left;
  border-radius: 8rem;
  z-index: 90000000000;
}

.footer {
  height: 15rem;
  background-color: white;
  padding: 0 5rem;
  position: relative;
  z-index: 90000000000;
}
@media only screen and (max-width: 575.98px) {
  .footer {
    padding: 0rem 1rem;
    text-align: center;
    height: fit-content;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    padding: 0rem 3rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .footer {
    height: 20rem;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
@media only screen and (max-width: 575.98px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
  }
}
.footer-content-left {
  flex: 1;
  height: 100%;
  padding: 3rem 0;
}
@media only screen and (max-width: 575.98px) {
  .footer-content-left {
    padding: 0rem;
  }
}
.footer-content-left .branches {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 575.98px) {
  .footer-content-left .branches {
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .footer-content-left .branches {
    width: 150%;
  }
  .footer-content-left .branches span {
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .footer-content-left .branches {
    margin-top: 2rem;
    width: 100%;
  }
}
.footer-content-left .branches span {
  background-color: #cbcbcb;
  padding: 0.3rem 1.2rem;
  border-radius: 2rem;
  margin-right: 1rem;
  color: rgb(95, 95, 95);
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .footer-content-left .branches span {
    padding: 0.3rem 1.2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    color: rgb(95, 95, 95);
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .footer-content-left .branches span {
    margin-right: 0;
  }
}
.footer-content-right {
  flex: 1;
  height: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 575.98px) {
  .footer-content-right {
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
}
.footer-content-right-copyright {
  display: flex;
  gap: 0.5rem;
}

.market-lube {
  font-weight: 600;
  text-decoration: underline;
}

.home {
  height: 100vh;
  background-image: url("UpdatedUIsky-16.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 575.98px) {
  .home {
    height: 90rem;
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .home {
    height: 85rem;
  }
}
.home-text {
  height: 35rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", serif;
  font-weight: 300;
  line-height: 1;
  font-size: 6.5rem;
  color: #024060;
}
@media only screen and (max-width: 575.98px) {
  .home-text {
    height: 10rem;
    width: 24rem;
    font-size: 2.5rem;
    padding-left: 8rem;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .home-text {
    width: 40rem;
  }
}
.home-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media only screen and (max-width: 575.98px) {
  .home-content {
    flex-direction: column;
    height: auto;
  }
}
.home-content-top {
  display: flex;
  flex: 2.5;
}
@media only screen and (max-width: 575.98px) {
  .home-content-top {
    flex-direction: column;
  }
}
.home-content-top-left {
  flex: 1;
}
@media only screen and (max-width: 575.98px) {
  .home-content-top-left {
    flex: none;
  }
}
.home-content-top-left img {
  height: 100%;
  width: 100%;
  height: 40rem;
  transform: translate(5rem, 5rem);
}
@media only screen and (max-width: 575.98px) {
  .home-content-top-left img {
    height: 22rem;
    transform: translate(-2rem, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .home-content-top-left img {
    height: 100%;
    width: 100%;
    height: 40rem;
    transform: translate(5rem, 5rem);
  }
}
.home-content-top-right {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: start;
}
@media only screen and (max-width: 575.98px) {
  .home-content-top-right {
    align-items: center;
    justify-content: center;
  }
}
.home-content-bottom {
  display: flex;
  flex: 1;
}
@media only screen and (max-width: 575.98px) {
  .home-content-bottom {
    flex-direction: column;
    padding-top: 10rem;
  }
}
.home-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 41%;
  left: 38%;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .home-contact {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .home-contact {
    position: absolute;
    top: 66%;
    left: 43%;
  }
}

.mobile-only-arrow {
  display: none;
}
@media only screen and (max-width: 575.98px) {
  .mobile-only-arrow {
    display: block;
    font-size: 2rem;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .homeGlobeImage {
    height: 400px !important;
    width: 400px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .home-content-top {
    flex-direction: column;
    align-items: center;
  }
  .home-content-top-left img {
    transform: translate(0, 2rem);
    margin-top: 2rem;
    margin-left: -20rem !important;
  }
  .home-content-top-right {
    align-items: center;
    justify-content: center;
  }
  .home-content-top-right .home-text span {
    margin-top: -5rem;
    margin-left: 3rem;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 10rem;
  margin: 0 auto;
  border-radius: 3rem;
  position: relative;
  color: black;
  background: linear-gradient(to right, #65d175, #024060) padding-box, linear-gradient(to right, #65d175, #024060) border-box;
  border: 1px solid transparent;
  overflow: hidden;
}
.counter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 3rem;
  z-index: 1;
}
.counter > * {
  position: relative;
  z-index: 2;
}
.counter-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter-1 span {
  font-size: 3rem;
  font-weight: 600;
  background-image: linear-gradient(to right, #024060, #65d175);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 575.98px) {
  .counter {
    flex-direction: column;
    width: 80%;
    height: 80vh;
    padding: 2rem 0;
  }
  .counter-1 {
    margin-bottom: 1.5rem;
  }
  .counter-1 span {
    font-size: 2.5rem;
  }
  .counter-1 div {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .counter {
    width: 70%;
  }
}

.about {
  height: fit-content;
  padding: 0 5rem;
}
.about .home-text {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .about .home-text {
    font-size: 65px;
  }
}
.about-scroll-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 2rem;
  position: relative;
  padding: 0 5rem;
}
.about-scroll-container-left-content {
  position: sticky;
  top: 10rem;
  left: 0;
  background-image: url("/UpdatedUIsky-17.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}
.about-scroll-container-right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 13rem 0;
}
.about-scroll-container-right-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.about-scroll-container-right-content .img-container {
  flex: 1;
  width: 100%;
  background-color: rgb(194, 194, 194);
  border-radius: 1rem;
  overflow: hidden;
}
.about-scroll-container-right-content .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-scroll-container-right-content .buttons {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.about-para-container {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;
}
.about-para-container-right {
  flex: 1;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
}

.animate-mount {
  opacity: 0;
  animation: mountAnimation 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes mountAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-mob {
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .about-mob {
    text-align: left;
  }
}
@media only screen and (max-width: 575.98px) {
  .about-mob {
    margin-bottom: 0;
  }
}

.about-scroll-mob {
  background-color: white;
}
.about-scroll-mob-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6px;
}
.about-scroll-mob-container .home-text {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 2rem 0;
  z-index: -1;
  background-color: white;
}
@media only screen and (max-width: 575.98px) {
  .about-scroll-mob-container .home-text {
    font-size: 2.8rem;
    width: 75%;
    font-weight: 400;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .about-scroll-mob-container .home-text {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}
.about-scroll-mob-container-item {
  position: sticky;
  top: 4rem;
  left: 0;
  z-index: 1;
  background-color: white;
}
@media only screen and (max-width: 575.98px) {
  .about-scroll-mob-container-item {
    top: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .about-scroll-mob-container-item {
    padding: 4px;
  }
}
.about-scroll-mob-right-content {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}
.about-scroll-mob-right-content .img-container {
  width: 100%;
  height: 35rem;
  padding: 0 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-scroll-mob-right-content .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.about-scroll-mob-container-left {
  position: relative;
  z-index: 2;
  background-color: white;
}

.about-scrolll-mob-left {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  z-index: 2;
  padding-top: 1rem;
}

.about-mob-para {
  line-height: 1.5;
  background-color: white;
  height: fit-content;
}
@media only screen and (max-width: 575.98px) {
  .about-mob-para {
    font-size: 13px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .about-mob-para {
    font-size: 2rem;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .main-swiperabout-scroll-mob-container {
    padding: 15px;
  }
}
.research {
  height: 500vh;
  width: 100%;
}
@media only screen and (max-width: 575.98px) {
  .research {
    padding-top: 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .research {
    margin-top: -6rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .research {
    margin-top: -10rem;
  }
}
.research-bttn {
  margin-top: 2rem;
}
.research-bttn img {
  height: 10rem;
}
@media only screen and (max-width: 575.98px) {
  .research-bttn img {
    height: 4rem;
  }
}
.research-scrol {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 575.98px) {
  .research-scrol {
    height: 90vh;
  }
}
.research-scrol-bg {
  position: absolute;
  top: 0rem;
  left: 25rem;
  width: 50rem;
  height: 50rem;
  z-index: -1;
}
@media only screen and (max-width: 575.98px) {
  .research-scrol-bg {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 100%;
    height: 50%;
  }
}
.research-scrol-bg img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 575.98px) {
  .research-scrol-bg img {
    width: 100%;
    height: 100%;
  }
}
.research-content {
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.research-content.second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 20px));
}
.research-content.visible {
  opacity: 1;
  transform: translateY(0);
}
.research-content.visible.second {
  transform: translate(-50%, -50%);
}
.research-head {
  font-size: 10rem;
  font-weight: 500;
  color: #024060;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 575.98px) {
  .research-head {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    line-height: 0.8;
    padding-bottom: 1rem;
  }
}
.research-head-desc {
  font-size: 3rem;
  font-weight: 300;
  color: #000;
  text-align: center;
}
@media only screen and (max-width: 575.98px) {
  .research-head-desc {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
.research-para {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
  height: 5rem;
}
@media only screen and (max-width: 575.98px) {
  .research-para {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    width: 16rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .research-para {
    width: 32rem;
  }
}
.research-enrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  border-radius: 5rem;
  margin-top: 8rem;
  position: fixed;
  top: 78vh;
  left: 50%;
  z-index: 90000;
  transform: translateX(-50%);
}
@media only screen and (max-width: 575.98px) {
  .research-enrolled {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5rem;
    width: 67%;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .research-enrolled {
    margin-top: 9rem;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.research-head,
.research-para {
  opacity: 0;
}

.animate {
  opacity: 1;
  animation: anim 1s ease forwards;
}

@media (min-width: 800px) and (max-width: 900px) {
  .research-enrolled {
    margin-top: 11rem;
  }
}
.testmonial {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
@media only screen and (max-width: 575.98px) {
  .testmonial {
    padding-top: 0rem;
    height: fit-content;
    margin-bottom: 5rem;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial {
    padding: 0;
    height: fit-content;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .testmonial {
    height: fit-content;
    padding: 0;
  }
}
.testmonial-head {
  height: 10rem;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
@media only screen and (max-width: 575.98px) {
  .testmonial-head {
    width: 100%;
    height: 8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial-head {
    height: 14rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .testmonial-head {
    height: 20rem;
  }
}
.testmonial-head h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
  width: 50%;
  color: #024060;
  text-align: center;
}
@media only screen and (max-width: 575.98px) {
  .testmonial-head h2 {
    font-size: 1.5rem;
    font-weight: 600;
    width: 95%;
    padding: 3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial-head h2 {
    width: 98%;
    padding: 3rem;
  }
}
.testmonial-body {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial-body {
    margin-top: 5rem;
  }
}
.testmonial-body-item-t {
  border-radius: 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial-body-item-t {
    width: 20rem !important;
  }
}
.testmonial-body-item-t span {
  border: 1px solid #024060;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial-body-item-t span {
    background-color: white;
    width: 100%;
  }
}
.testmonial-body-item-t span img {
  width: 100%;
  object-fit: contain;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .testmonial-body-item-t span img {
    width: 70%;
  }
}

.title-animate {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
}

@media (min-width: 800px) and (max-width: 900px) {
  .testmonial-body {
    width: 80rem;
  }
}
.testimonial-slider {
  margin-bottom: 3rem;
}

.slide-item img {
  border: 1px solid #024060;
  border-radius: 1rem;
}

.scroll-card {
  width: 100%;
  height: 600vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card {
    height: 262.5rem;
  }
}
.scroll-card-scroll-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main-swiper {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 575.98px) {
  .main-swiper {
    height: fit-content;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .main-swiper {
    height: 55rem;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .main-swiper {
    height: fit-content;
  }
}
.main-swiper .main-swiper-container {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .main-swiper .main-swiper-container {
    height: fit-content;
  }
}
@media only screen and (max-width: 575.98px) {
  .main-swiper .main-swiper-container {
    height: fit-content;
  }
}
.main-swiper .main-swiper-container .swiper-body-item {
  height: 35rem;
  border-radius: 2rem;
  overflow: hidden;
}
@media only screen and (max-width: 575.98px) {
  .main-swiper .main-swiper-container .swiper-body-item {
    height: fit-content;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .main-swiper .main-swiper-container .swiper-body-item {
    height: 70rem;
  }
}
.main-swiper .main-swiper-container .swiper-body-item span {
  border-radius: 2rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-swiper .main-swiper-container .swiper-body-item span iframe {
  width: 80% !important;
  height: 100%;
  border-radius: 2rem;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .main-swiper .main-swiper-container .swiper-body-item span iframe {
    width: 27rem !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .main-swiper .main-swiper-container .swiper-body-item span iframe {
    width: 18rem !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .main-swiper .main-swiper-container .swiper-body-item span iframe {
    width: 38rem !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .main-swiper .main-swiper-container .swiper-body-item span {
    width: 100%;
    height: 31rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .main-swiper .main-swiper-container .swiper-body-item span {
    width: 100%;
  }
}
.main-swiper .main-text {
  font-size: 3rem !important;
  font-weight: 500 !important;
  width: 50% !important;
  color: #024060 !important;
  text-align: center !important;
  display: none !important;
}
@media only screen and (max-width: 575.98px) {
  .main-swiper .main-text {
    margin-top: 20rem;
    display: block;
    height: 100vh;
  }
}

.bottom {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  z-index: 90000000;
}
@media only screen and (max-width: 575.98px) {
  .bottom {
    height: 15rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bottom {
    height: 20rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .bottom {
    height: 20rem;
  }
}
.bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleY(-1);
  background-image: url("/UpdatedUIsky-16.svg");
  z-index: -1;
}
@media only screen and (max-width: 575.98px) {
  .bottom::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    z-index: -1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bottom::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    z-index: -1;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .bottom::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    z-index: -1;
  }
}
.bottom-hello {
  font-size: 40rem;
  font-weight: 700;
  color: white;
  line-height: 1;
  opacity: 0.5;
}
@media only screen and (max-width: 575.98px) {
  .bottom-hello {
    font-size: 10rem;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bottom-hello {
    font-size: 20rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .bottom-hello {
    font-size: 30rem;
  }
}
.bottom-content {
  font-size: 8rem;
  font-weight: 600;
  color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  padding: 2.2rem 9rem;
  border-radius: 7rem;
  border: 1px solid gray;
  cursor: pointer;
}
@media only screen and (max-width: 575.98px) {
  .bottom-content {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bottom-content {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .bottom-content {
    font-size: 5rem;
    padding: 1rem 3rem;
    border-radius: 5rem;
    margin-top: 0rem;
  }
}

.scroll-card-box {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: sticky;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box {
    height: fit-content;
    padding: 5rem 0;
  }
}

.scroll-card-box-container {
  height: 80vh;
  width: 100%;
  background-color: #65d175;
  border-radius: 8rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    height: 32.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    height: 32.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-container {
    border-radius: 4rem;
  }
}

.scroll-card-box-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-left {
    padding: 1rem;
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-left {
    padding: 1rem;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-left {
    width: 100%;
  }
}
.scroll-card-box-left .step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  gap: 1rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-left .step {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-left .step {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-left .step {
    justify-content: start;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-left .step {
    font-size: 2rem;
  }
}
.scroll-card-box-left .step .num {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-left .step .num {
    font-size: 15px;
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-left .step .num {
    font-size: 15px;
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-left .step .num {
    font-size: 20px;
    height: 4rem;
    width: 4rem;
  }
}
.scroll-card-box-left .title {
  width: 70%;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-left .title {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-left .title {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-left .title {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-left .title {
    width: 107%;
  }
}
.scroll-card-box-left .title div {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-left .title div {
    font-size: 1.5rem;
    margin-left: 0rem;
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-left .title div {
    font-size: 1.5rem;
    margin-left: 0rem;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-left .title div {
    margin-left: 0rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-left .title div {
    margin-top: -1rem;
    width: 149%;
  }
}
.scroll-card-box-left p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 2rem;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-left p {
    margin-left: 0rem;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-left p {
    margin-left: 0rem;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-left p {
    margin-left: 0rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-left p {
    width: 100%;
  }
}

.scroll-card-box-right {
  height: 100%;
  width: 50%;
  background-color: rgb(249, 249, 249);
  border-radius: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-right {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-right {
    display: none;
  }
}
.scroll-card-box-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-right img {
    display: none;
  }
}

.scroll-card-box-center {
  height: 50rem;
  width: 65%;
  background-color: rgb(249, 249, 249);
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-center {
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-center {
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-center {
    width: 100%;
    height: 28rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-center {
    height: 35rem;
    width: 215%;
  }
}
.scroll-card-box-center img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 575.98px) {
  .scroll-card-box-center img {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-card-box-center img {
    border-radius: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-card-box-center img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-card-box-center img {
    border-radius: 1rem;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .scroll-card-box-center {
    margin-top: 1rem;
  }
  .title {
    margin-bottom: 4rem;
  }
}
.enquary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.header-left {
  margin-left: 100px;
}

.enquary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #fff;
}

.enquary-logo {
  margin-right: 20rem;
  color: #0056b3;
}

.enquary-logo img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.enquary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../src/assets/LP-05.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.enquary-form-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  /* gap: 20px; */
}

.enquary-globimg {
  max-width: 639px;
  max-height: 639px;
  object-fit: cover;
  position: absolute;
  bottom: 234px;
  left: 237px;
}

.enquary-image-text {
  font-size: 5rem;
  position: absolute;
  left: 550px;
  bottom: 390px;
  font-weight: 900;
  color: #244ea0;
  font-family: "Times New Roman", Times, serif;
}

.enquary-form {
  margin-left: 60rem;
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.enquary-form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.enquary-form-row:has(input[name=country], input[name=education]) input {
  width: 50%;
  flex: 1 1 0;
}

.enquary-form-row input,
.enquary-form-row select {
  /* -webkit-appearance: none; */
  flex: 1;
  padding: 12px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

.enquary-form-row .enquary-submit-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.enquary-form-row .enquary-submit-btn:hover {
  background-color: #0056b3;
}

.enquary-bottomDiv {
  width: 350px;
}

.enquary-respoImg {
  max-width: 210px;
  max-height: 210px;
  object-fit: cover;
  position: relative;
  left: 20px;
}

.enquary-mobile-text {
  font-size: 2rem;
  position: absolute;
  font-weight: 700;
  color: #244ea0;
  font-family: "Times New Roman", Times, serif;
  bottom: 100px;
  left: 500px;
}

.enquary-flagRow {
  height: auto;
  width: 750px;
  position: absolute;
  bottom: 130px;
}

@media (min-width: 1500px) {
  .enquary-form-row input,
  .enquary-form-row select {
    width: 330px;
  }
}
@media (max-width: 1599px) {
  .enquary-form {
    margin-left: 30rem;
  }
}
@media (max-width: 1700px) {
  .enquary-image-text {
    left: 450px;
  }
}
@media (max-width: 1600px) {
  .enquary-globimg {
    max-width: 560px;
    max-height: 560px;
    object-fit: cover;
    position: absolute;
    left: 10px;
  }
  .enquary-image-text {
    left: 310px;
  }
  .enquary-flagRow {
    height: auto;
    width: 650px;
    position: absolute;
    bottom: 130px;
    left: 50px;
  }
}
@media (max-width: 1500px) {
  .enquary-globimg {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    position: absolute;
    left: 10px;
  }
  .enquary-image-text {
    left: 310px;
    font-size: 4.45rem;
  }
}
@media (max-width: 1400px) {
  .enquary-globimg {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    position: absolute;
    left: 10px;
  }
  .enquary-image-text {
    left: 220px;
    font-size: 4rem;
  }
  .enquary-flagRow {
    height: auto;
    width: 500px;
    position: absolute;
    bottom: 130px;
  }
}
@media (max-width: 1111px) {
  .enquary-globimg {
    display: none;
  }
  .enquary-image-text {
    display: none;
  }
  .enquary-flagRow {
    display: none;
  }
  .enquary-form {
    margin-left: 0rem;
    margin-top: 110px;
  }
  .enquary-logo {
    margin-right: 0rem;
  }
  .enquary-logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }
}
@media (min-width: 1112px) {
  .enquary-bottomDiv {
    display: none;
  }
}
@media (max-width: 1000px) {
  .enquary-respoImg {
    left: 0px;
    top: -3rem;
  }
  .enquary-mobile-text {
    position: absolute;
    left: 450px;
    padding-bottom: 40px;
  }
}
@media (max-width: 920px) {
  .enquary-mobile-text {
    position: absolute;
    left: 400px;
    padding-bottom: 40px;
  }
}
@media (max-width: 820px) {
  .enquary-mobile-text {
    position: absolute;
    left: 350px;
    padding-bottom: 40px;
  }
}
@media (max-width: 720px) {
  .enquary-mobile-text {
    position: absolute;
    left: 300px;
    padding-bottom: 40px;
  }
}
@media (max-width: 620px) {
  .enquary-mobile-text {
    position: absolute;
    left: 250px;
    padding-bottom: 40px;
  }
}
@media (max-width: 520px) {
  .enquary-mobile-text {
    position: absolute;
    left: 200px;
    padding-bottom: 40px;
  }
  .enquary-form-row input {
    width: 150px;
    font-size: 11px;
  }
  .enquary-form-row select {
    font-size: 11px;
    width: 150px;
  }
  .enquary-form {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .enquary-mobile-text {
    bottom: 100px;
    font-size: 1.9rem;
    left: 190px;
  }
  .enquary-form-container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .enquary-logo img {
    width: 100%;
    height: 70px;
    object-fit: cover;
  }
}
@media (max-width: 450px) {
  .enquary-form-row input {
    width: 130px;
    font-size: 11px;
  }
  .enquary-form-row select {
    font-size: 11px;
    width: 130px;
  }
  .enquary-mobile-text {
    bottom: 90px;
    font-size: 1.9rem;
    left: 150px;
  }
}
@media (max-width: 380px) {
  .enquary-form {
    margin-top: 65px;
  }
  .enquary-form-row input {
    width: 100px;
    font-size: 11px;
  }
  .enquary-form-row select {
    font-size: 11px;
    width: 100px;
  }
  .enquary-form-container {
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .enquary-respoImg {
    max-width: 250px;
    max-height: 250px;
    left: 0px;
  }
  .enquary-mobile-text {
    bottom: -50px;
    font-size: 1.9rem;
    left: 150px;
  }
}
@media (max-width: 430px) {
  .enquary-form-row input {
    width: 130px;
    font-size: 11px;
  }
  .enquary-form-row select {
    font-size: 11px;
    width: 130px;
  }
  .enquary-mobile-text {
    bottom: -5px;
    font-size: 1.9rem;
    left: 150px;
  }
}
